.ws-body {
    font-family: arial;
    .ws-header {
        background: #428bca;
        margin: 0 0 30px 0;
        h1 {
            color: #ffffff;
            text-align: center;
            line-height: 100px;
            font-size: 36px;
        }
    }
    .ws-content {
        padding-top: 20px;
    }
    .btn[disabled] {
        cursor: default;
    }
    .box {
        border: 2px solid #f5f5f5;
        padding: 15px;
        margin-bottom: 5px;
    }
    .box h2 {
        font-size: 20px;
        line-height: 1.5;
    }
    .insidebox {
        margin-top: 25px;
    }
    input[type='text'] {
        width: calc(100%);
        display: inline-block;
    }
    .sidemenu {
        padding-left: 15px;
        float: right;
        right: 40px;
    }
    span.entire-widget-remove-button {
        position: absolute;
        right: 20px;
        top: -30px;
    }
    .sectionouterdiv,
    .headerouterdiv {
        float: left;
        width: 100%
    }
    .leftslider {
        position: absolute;
        z-index: 1;
        background: #fff;
        right: 0;
        width: 380px;
        display: none;
        height: 400px;
        background: white;
        overflow-x: hidden;
        overflow-y: scroll;
        top: 40px;
        border: 1px solid #000
    }
    span.gacode {
        float: left;
        width: 100%;
        margin: 10px 0;
    }
    .displayform label.control-label.gacode {
        width: 150px;
    }
    .displayform input.control-label.gacode {
        width: calc(80% - 150px)
    }
    #globalbannerurl,
    #urls,
    #checkouturl,
    #producturl {
        width: 80%
    }
    .customwidget {
        position: static;
    }
    .customwidget.featurebanner,
    .boxcustomwidget div.customwidget.normal:nth-child(3)+div.tile3,
    .boxcustomwidget div.customwidget.normal:nth-child(3)+div.tile3price {
        clear: left;
    }
    .internalradiobuttonspan {
        padding: 0;
        width: 150px;
    }
    .slideright {
        right: 0;
        display: block
    }
    .leftslider>div {
        text-align: center;
        padding: 10px 0;
        display: block;
        font-size: 20px;
        cursor: pointer;
        border-bottom: 1px solid #000
    }
    .customwidget .close-icon {
        position: relative;
        top: -5px;
        float: right;
    }
    span.tile {
        display: inline-block;
        height: 60px;
        width: 95px;
        background: #9B9B9B;
        margin: 0;
        position: relative;
        border-radius: 5px;
    }
    span.tile:after {
        content: "lorem ipsum";
        height: 18px;
        color: #fff;
        width: 100%;
        background: #4A4A4A;
        bottom: 0;
        left: 0;
        border-radius: 0 0 5px 5px;
        position: absolute;
        font-size: 13px;
    }
    div.placeholder {
        background: rgb(255, 240, 120);
        min-height: 200px;
        float: left;
        width: 100%
    }
    div.placeholder:before {
        content: "Drop here";
        color: rgb(225, 210, 90);
    }
    span.shopbycategory:after {
        content: "lorem ipsum";
        bottom: -20px;
        color: #000;
        background: #fff
    }
    span.shopbycategory+span.data-widgets.sliders {
        padding-top: 15px;
    }
    span.tile.x2:after {
        content: ""
    }
    span.tile.price>span {
        display: inline-block;
        padding-top: 10px;
        color: #fff
    }
    .newrow {
        float: left;
        width: 100%;
    }
    .leftslider>div>span.rectangle {
        height: 100px;
        width: 200px;
        background: #9B9B9B;
        border-radius: 5px
    }
    .leftslider>div>span {
        display: inline-block;
        font-family: monospace
    }
    .leftslider>div>span.data-widgets {
        display: block
    }
    .dynamic-wrapper {
        position: relative;
        margin-top: 30px;
    }
    .nav-tabs.nav-justified>li>a.active {
        border-color: #ddd #ddd #fff #ddd;
    }
    .margin-bottom {
        margin-bottom: 20px;
    }
    .margin-bottom-double {
      margin-bottom: 40px;
    }
    .margin-top {
        margin-top: 20px;
    }
    .box>div {
        padding: 0;
        margin-bottom: 15px;
        position: initial;
    }
    .addingnewlabel {
        position: absolute;
        bottom: 20px;
        right: 15px;
    }
    .box .customwidget .addingnewlabel {
        display: none;
    }
    .box .customwidget:last-child .addingnewlabel {
        display: block
    }
    .displayform>div {
        float: left;
        width: 100%;
    }
    .displayform {
        h2 {
            font-size: 20px;
            float: left;
            width: 100%;
            margin-top: 0;
        }
    }
    .displayform>div {
        float: left;
        width: 100%;
    }
    .displayform label {
        padding-left: 5px;
    }
    .displayform span.globalradiobutton label,
    .displayform span.internalradiobutton label {
        width: 60px
    }
    .displayform label,
    .displayform input[type="text"] {
        float: left;
        width: 100px;
        text-align: center;
    }
    .my-handle {
        float: right;
        &:hover {
            cursor: pointer
        }
    }
    .displayform input[type="text"] {
        width: calc(100% - 100px);
        border-radius: 0;
        box-shadow: none;
        border-width: 0 0 1px 0;
        text-align: left;
    }
    .margin-bottom-half {
        margin-bottom: 10px;
    }
    .widget-block {
        float: left;
        width: 100%;
        margin-bottom: 20px;
        position: relative;
    }

    #shopbycategory .box,#bestsellers .box{
        padding-bottom: 60px
    }

    .collapse {
        display: none;
    }
    .collapse.in {
        display: block;
    }
    .insidebox input[type=checkbox] {
        position: absolute;
    }
    #loader {
        display: none;
    }
    #error-message,
    .error-message {
        display: none;
        color: red;
        text-align: center;
    }
    .framewrapper {
        position: relative;
    }
    div#loader {
        &::before {
            content: 'Loading';
            position: absolute;
            left: 20%;
            background: url(..//images/ajax-loader.gif) no-repeat 1px 0px / 20px;
            height: 30px;
            width: auto;
            padding-left: 30px;
        }
    }
    .displayform .header {
        float: left;
        width: 100%;
        margin-bottom: 5px;
    }
    .displayform .header h5 {
        margin-top: 5px;
        font-weight: bold;
        text-align: center;
    }
    .displayform .header h5,
    .ws-body .displayform .header input[type="text"] {
        float: left;
        width: 60px;
    }
    .displayform .header input[type="text"] {
        width: calc(100% - 100px);
    }
    h2 input[type="checkbox"] {
        margin-left: 8px;
    }
    .dropdown {
        margin-bottom: 10px;
        label,
        select {
            text-align: right;
            float: left;
            font-weight: bold;
            font-size: 14px;
            white-space: nowrap;
        }
        select {
            width: auto;
            margin-left: 20px;
        }
    }
    .iPhone5,
    .iPhone6,
    .iPhone6Plus,
    .iPhone6landscape,
    .iPhone6Pluslandscape,
    .iPhone5landscape {
        float: left;
    }
    .iPhone5 {
        width: 320px;
    }
    .iPhone5landscape {
        width: 568px;
    }
    .iPhone6 {
        width: 375px;
    }
    .iPhone6landscape {
        width: 667px;
    }
    .framewrapper {
        padding: 0
    }
    .Iframe {
        padding: 0;
    }
    .iPhone6Plus {
        width: 414px;
    }
    .iPhone6Pluslandscape {
        width: 736px;
    }
    .widgetformiPhone6Plus {
        width: calc(100% - 414px);
    }
    .widgetformiPhone6 {
        width: calc(100% - 375px);
    }
    .widgetformiPhone5 {
        width: calc(100% - 320px);
    }
    .widgetformiPhone6Pluslandscape {
        width: calc(100% - 736px);
        h2 {
            font-size: 16px;
        }
    }
    .widgetformiPhone6landscape {
        width: calc(100% - 667px);
        h2 {
            font-size: 16px;
        }
    }
    .widgetformiPhone5landscape {
        width: calc(100% - 568px);
    }
    .data-wrapper {
        border-bottom: 1px solid #000
    }
    .close-icon,
    .bannerprev {
        height: 30px;
    }
    .close-icon {
        font-size: 32px;
        opacity: 1;
        color: red;
        padding-right: 11px;
        position: absolute;
        right: -21px;
        top: 40px;
    }
    span.backcoloroftext,
    .text-color>span {
        line-height: 30px;
    }
    .paddingzero {
        padding: 0
    }
    .bannerprev {
        border: 1px solid #ddd;
        width: 100%;
        margin-bottom: 5px;
        outline: none;
        width: 80%
    }
    input.bannerprev.text-center.col-md-12.paddingzero {
        width: 370px;
    }
    .back-color,
    .text-color {
        margin-bottom: 5px;
        margin-right: 10px;
        width: 140px;
        height: 30px;
        text-align: center;
        float: left;
        cursor: pointer;
        position: relative;
    }
    h2 {
        label,
        span {
            float: left
        }
        label {
            font-size: 14px;
            font-weight: 400
        }
    }
    .control-label.margin-none {
        padding-top: 0;
    }
    #demo,
    #demo-redirect,
    #demo-product,
    #demo-checkout,
    #demo-global {
        display: none;
        max-width: 100%;
        margin-top: 10px;
        min-height: 150px;
        width: 100%;
    }
    .generatecode {
        float: left;
        width: 100%;
        text-align: center;
        button {
            width: 50%;
            display: inline-block;
            margin-top: 20px;
        }
    }
    .color-picker {
        position: absolute;
        top: 1px;
        left: 1px;
        display: none;
        width: 200px;
        height: 70px;
    }
    ul {
        width: 100%;
        display: table;
        padding: 0 10px;
    }
    ul li {
        display: table-cell;
        width: auto;
        text-align: center;
    }
    .banner-area+div {
        width: 200px;
    }
    span.user_type {
        float: left;
        width: auto
    }
    span.banner-dropdown {
        padding-left: 5px;
    }
    .cp.react-color-picker {
        position: absolute;
        z-index: 1;
        width: 350px;
        top: 28px;
        left: -155px;
    }
    .backcoloroftext button {
        float: right;
        line-height: 30px;
    }
    span.user_type label {
        padding-right: 10px;
    }
    .span.banner-dropdown {
        padding-left: 10px;
    }
    .showit {
        display: block
    }
    .rc-color-picker-panel-wrap-alpha {
        opacity: 0
    }
    span.rc-color-picker-trigger {
        position: relative;
        top: 4px;
        left: -6px
    }
    .rc-color-picker-panel-wrap-has-alpha {
        opacity: 0
    }
    .rc-color-picker-panel-wrap-ribbon {
        height: 30.5px
    }
    .border {
        border: 1px solid #ddd
    }
    .react-color-picker>div.react-color-picker__hue-spectrum {
        width: 15px !important;
        margin: 0;
    }
    #jsoncontent {
      max-width:100%;
      height:130px;
    }
    .hidedefault {
        display: none;
    }
    .radiolabel {
        padding-left: 5px
    }
    li.Tab {
        border-width: 1px;
        border-style: solid;
        padding: 10px 0;
        cursor: pointer;
        border-color: white white #ddd white
    }
    li.Tab.isSelected {
        border-color: #ddd #ddd white #ddd;
        cursor: default;
    }
}
